pyrofork==2.3.69
tgcrypto-pyrofork
pymongo==4.13.2
motor==3.7.1
marshmallow<4.0.0
umongo
Pillow==9.4.0
pikepdf
pyromod
opencv-python-headless==4.8.1.78
python-dotenv==0.21.1
PyLeaves==1.0.2

tgcrypto
requests
bs4
shortzy
pytz
aiohttp
yt-dlp
youtube-dl
ytthumb
jinja2
apscheduler
pyshorteners
colorama
NumPy
wheel
ujson
wget
aiofiles
hachoir
python-decouple
ffmpeg-python==0.2.0
youtube_search
youtube-search-python
googletrans
gTTS
speedtest
humanize
psutil
dnspython
openai
git+https://github.com/Joelkb/cinemagoer
rarfile
pyzipper
imageio-ffmpeg>=0.4.10


